@font-face {
    font-family: 'night-melody-demo.regular';
    src: url('./assets/Fonts/night-melody-demo.regular.eot');
    /* IE9 Compat Modes */
    src: url('./assets/Fonts/night-melody-demo.regular.eot') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./assets/Fonts/night-melody-demo.regular.woff') format('woff'),
        /* Modern Browsers */
        url('./assets/Fonts/night-melody-demo.regular.ttf') format('truetype')
        /* Safari, Android, iOS */
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* font-family: "Quicksand", serif; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
/* font-family: "Cinzel", serif; */

/*////////////////// GENERAL ////////////////*/
:root {
    --main:qsd;
    --firstColor:qsd;
    --secondColor:qsd;
    --thirdColor:qds;
    --fourthColor:qsd;
    --fifthColor:qsd;
}
body {
    background: -webkit-linear-gradient(to right, #ddd6f3, #faaca8);
    background: linear-gradient(to right, #445067, #0e7ac1);
    font-family: "Quicksand", serif;
    font-weight: 500;
    color: #ddd6f3;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,
h1,
h2 {
    width: 100%;
    text-align: center;
    font-family: "Cinzel", serif;
}

/*////////////////// eo: GENERAL ////////////////*/

/*////////////////// MAIN ////////////////*/
.edwige {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: clamp(1rem, 4vw, 2rem);
}

.title h1 {
    font-family: 'night-melody-demo.regular';
}

.content {
    position: relative;
    width: 90%;
    /* height: 70%; */
    min-height: 400px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    @media screen and (min-width: 768px) {
        width: 60%;
    }
}

/*////////////////// eo: GENERAL ////////////////*/

/*////////////////// SUBJECT ////////////////*/
.subject {
    width: 100%;
    padding: 0 10px;
}

.subject-list {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.subject-list button {
    width: 100%;
    height: 96px;
    margin: 0 auto 20px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 4px 15px 3px hsla(0, 0%, 0%, 0.13);
    transition: .1s ease-in-out;
    background-color: #3535356e;
    color: #ddd6f3;

    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.subject-list button:hover {
    @media screen and (min-width: 768px) {
        transform: translateY(-3px);
        box-shadow: 2px 7px 15px 3px hsla(0, 0%, 0%, 0.13);
    }
}

.subject-list button[selected] {
    transform: translateY(3px);
    box-shadow: 2px 0px 15px 3px hsla(0, 0%, 0%, 0.13);
    background-color: #44506767;
}

/*////////////////// eo: SUBJECT ////////////////*/

/*////////////////// QUIZ ////////////////*/
.quiz {
    position: relative;
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.countdown-content {
    position: absolute;
    top: 0;
    right: 8px;
    background-color: #0e7ac1;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-content .countdown {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}

.countdown-content .countdown p {
    font-size: 32px;
    font-weight: 800;
    color: #0e7ac1;
}

.logo {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) and (min-height: 600px){
        height: 150px;
    }
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.question {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.question p {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

.options-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.options-content {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.options-content>label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(76, 79, 154);
    width: 600px;
    max-width: 80%;
    height: 46px;
    /* aspect-ratio: 1/1; */
    border-radius: 10px;
    cursor: pointer;
    margin: 0 0 10px;
    padding: 0px 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.10);
    transition: .3s ease-in-out;
}

.options-content>label>p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 0;
}

.options-content>label:hover {
    background-color: rgb(52, 64, 119);
    transform: translateY(-3px);
    animation: wizz 0.75s;
}

.options-content>label:has(input:checked) {
    background-color: rgb(88, 115, 225);
}

.options-content input {
    display: none;
}

button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.valid,
.next {
    width: 100%;
}

button:disabled {
    opacity: .5;
}

#start,
#valid-button,
#next-button {
    border-radius: 10px;
    font-size: 1.5rem;
    border: none;
    background-color: #445067;
    color: #ddd6f3;
    padding: 5px 0;
    width: 90%;
    max-width: 200px;
}

/*////////////////// eo: QUIZ ////////////////*/

/*////////////////// RESULT ////////////////*/
.result {
    position: relative;
    width: 95%;
    height: 100%;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(208, 92%, 41%);
    border-radius: 10px;
}

.result>p:first-child {
    font-weight: 600;
    font-size: 20px;
}

#resultComment {
    font-size: 3.8rem;
}

#score {
    font-weight: 900;
    font-size: 32px;
    margin: 20px 0;
}

#reset {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

/*////////////////// eo: RESULT ////////////////*/

/*////////////////// MODAL ////////////////*/
.modal-check {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 16px);
    height: calc(100% - 20px);
    border-radius: 10px;
    padding: 10px 8px;
    transform: translate(-50%, -50%);
    background-color: rgb(13, 24, 100);
}

.modal-check h2 {
    font-size: 3.8rem;
    line-height: 2rem;
    margin: 20px 0 0;
}

.modal-check h2 span {
    font-size: 2rem;
    line-height: 1.2rem;
}

.modal-check p {
    font-size: 1.3rem;

    @media screen and (min-width: 768px) {
        max-width: 80%;
    }
}

/*////////////////// eo: MODAL ////////////////*/

/*////////////////// PROGRESS BAR ////////////////*/
.progress-bar-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.progress-bar {
    height: 15px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.329);
}

.progress-value {
    width: 100%;
    height: 100%;
    background-color: rgb(54, 51, 104);
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s ease-in-out;
}

/*////////////////// eo: PROGRESS BAR ////////////////*/

@keyframes wizz {
    0% {
        transform: translateY(-3px) translateX(0);
    }

    10% {
        transform: translateY(-3px) translateX(-3px);
    }

    20% {
        transform: translateY(-3px) translateX(3px);
    }

    30% {
        transform: translateY(-3px) translateX(-3px);
    }

    40% {
        transform: translateY(-3px) translateX(3px);
    }

    50% {
        transform: translateY(-3px) translateX(-3px);
    }

    60% {
        transform: translateY(-3px) translateX(3px);
    }

    70% {
        transform: translateY(-3px) translateX(-3px);
    }

    80% {
        transform: translateY(-3px) translateX(3px);
    }

    90% {
        transform: translateY(-3px) translateX(-3px);
    }

    100% {
        transform: translateY(-3px) translateX(0);
    }
}